# Environment variables
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# ChromaDB local database
db/chroma_db/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

tempCodeRunnerFile.py